*{
    margin: 0;
    padding: 0;
}

body{
    margin: 25px 40px;
    --s: 50px;
    --c: #232735;
    --_s: calc(2* var(--s)) calc(2* var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #007bff09 68% 70%, #0000 72%;
    background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s), radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s), repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s), radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

#header{
    box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.081);
    background-color: #1a1d27;
    border-radius: 5px;
    color: #ecf0f1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: cyan;
    height: 135px;
    overflow: hidden;
}

#header_det{
    padding-top: 20px;
}

#header h1{
    padding: 10px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 2rem;
    font-style: normal;
    text-transform: uppercase;
}

#header p{
    padding-bottom: 10px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.25rem;
}

#particles_js{
    position: relative;
    z-index: 0;
    top: -50vh ;
}

#data{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 25px;
}

#data_title{
    margin: 50px auto 0 auto;
    background-color: #14161e;
    padding: 15px 25px;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    color: #ffffff;
    text-shadow: #007BFF 1px 0 10px;
    max-width: 1400px;
}

#filters{
    font-family: "Pontano Sans", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    padding: 0 20px 30px 20px;
    height: 450px;
    width: 250px;
}

#filters h1, #donut_2023_2024 h1{
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin: 15px 15px 15px 0px;
    color: #ffffff;
    text-transform: uppercase;
}

#donut_2023_2024{
    font-family: "Pontano Sans", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    padding: 0 20px 0px 20px;
    height: 450px;
    width: 250px;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-flex;
    align-items: center;
    margin: 7.5px 0;
    padding: 7px 7px 7px 15px;
    cursor: pointer;
    border: 2px solid #242936;
    border-radius: 10px;
    color: cyan;
    transition: background-color 0.2s ease, color 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.3s ease;
    width: 220px;
    background-color: #242936;
    box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.25);
}

#donut_2023_2024{
    margin-top: 24px;
    height: 300px;
}

#data_visulation{
    display: flex;
}

#filters, #map_details, #graph_details, #chartpie_details, #graph_details_2023_2024, #donut_2023_2024, #globe_data{
    box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.075);
    background-color: #1a1d27;
    border-radius: 5px;
    transition: 0.2s ease;
}

#map_details:hover, #graph_details:hover, #chartpie_details:hover, #graph_details_2023_2024:hover, #donut_2023_2024:hover{
    box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.2);
    transition: 0.2s ease;
}

#graph_details, #chartpie_details{
    margin-left: 25px;
    width: 500px;
}

#chartpie_details{
    margin-top: 25px;
}

#map_details h1, #graph_details h1, #chartpie_details h1, #graph_details_2023_2024 h1{
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    position: absolute;
    margin: 15px 20px;
    color: #ffffff;
}

#map_details{
    display: flex;
    flex-direction: column;
}

#legend{
    height: 20px;
    margin: 0 auto;
}

#chartpie_data{
    display: flex;
}

#chartpie{
    height: 200px;
    width: 200px;
    padding: 50px 25px 0px 50px;
}

#chartpie_text{
    height: 190px;
    width: 175px;
    padding: 40px 50px 0px 0px;
}

#graph_details_2023_2024{
    margin-top: 25px;
    width: 1125px;
    height: 300px;
}

#donut{
    width: 181px;
    height: 270px;
    padding-left: 35px;
    padding-right: 35px;
}

#globe_data{
    max-width: 1450px;
    margin: 0 auto;
}

#globe{
    width: 600px;
    height: 600px;
    margin: 0 400px;
}